<p class="text-light">complete-payment works!</p>
<p class="text-light">complete-payment works!</p>
<p class="text-light">complete-payment works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
             <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Completion Of the Transaction</h5>
                    <div class="card-text">
                        Content Lorem ipsum dolor sit amet <b>consectetur adipisicing elit.</b>Perspiciatis earum fugiat mollitia aspernatur totam cupiditatesed praesentium voluptates odio ipsum suscipit quaerat quia ipsam quidem  <b>Click on the button bellow</b> To complete your transaction commodi recusandae doloremque, sapiente tenetur.
                    </div>
                  <button class="payment-btn mt-3" type="submit" (click)="completeTrasnsaction()">Complete Payment
                    <span class="fa fa-circle-o-notch fa-spin" style='font-size:"19px"' *ngIf="spinner"></span>
                  </button>
                </div>
                <div class="card-footer border-0 bg-white">
                    <span class="float-right">
                        <b class="">(c)hotel-</b> <span>2020</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>