.container-fluid {
    color: #797979;
	/* background: #eaeaea; */
    padding: 0px !important;
    margin: 0px !important;
    /* font-size:33px; */
}

.add{
    font-size: 20px !important;
    /* font-weight: 700 !important; */
    font-weight: 560;
    color: grey;
}
/* content panel for tables */
.content-panel {
	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 15px;
    padding-bottom: 5px;
    color: #797979;
	/* background: #eaeaea; */
    font-family: 'Ruda', sans-serif;
    font-size:13px;
    max-height: 73.2vh !important;
    transition: all 0.5s;
    overflow-y: scroll;
}
.content-panel::-webkit-scrollbar{
    width: 10px;
    /* cursor: pointer; */
}
.content-panel::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}
.content-panel::-webkit-scrollbar-thumb{
    background: #ffb03b; 
}
.content-panel::-webkit-scrollbar-thumb:hover{
    background: #c58906; 
    /* cursor: pointer; */
}
.search::-webkit-search-results-decoration{
    width: auto;
}
/* for search */
/* .search-input{
    width: 100%;
} */
.input-full-search {
    width: 100%;
  }
.content-panel h4 {
    margin-left: 10px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
   
}
.h4{
    font-family: 'Ruda', sans-serif;
    font-size: 20px;
}
th{
    color: #797979;
    font-family: 'Ruda', sans-serif;
    font-weight: 700;    
    font-size: 14px;
    /* color: #aab2bd; */
}
.btn{
    /* outline: none !important; */
    box-shadow: none !important;
    background-color: #ffb03b;
    border: 2px solid #ffb03b;
    border-radius: 50px 50px 50px 50px;
}
.btn:focus{
    outline: none !important;

}
  /*  */
  