<!-- <nav class="nav-gallery fixed-top mb-2"> -->
 
<!-- </nav> -->
<ul class="nav nav-tabs nav-justified fixed-top">
  <li class="nav-item">
    <a class="nav-link active" href="" routerLink="/"><span>D<img src="../../assets/pics/lg.png" width="15px"  alt="">lux </span> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="" routerLink='/bookrooms'>Book a room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=""  routerLink='/loginpage'>Sign in</a>
  </li>
</ul>
<div class="container ">
    <div class="text-center p-4">
        <div class="mt-5 ml-2">
            <h2 class="mt-5 gallery">Our gallery</h2>
            <div class="col-md-2 mt-n2 col-4 text-center mx-auto line"></div>
        </div>
    </div>
    <section class="wrapper site-min-height">
        <!-- <h3><i class="fa fa-angle-right"></i> Gallery</h3> -->
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__zoomInUp animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a data-fancybox="gallery"  href="../../assets/pics/ht2.png"><img class="img-fluid" src="assets/pics/ht2.png" alt=""></a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__zoomInUp animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a data-fancybox="gallery"  class="fancybox" href="assets/pics/ht5.jpg"><img class="img-fluid" src="assets/pics/ht5.jpg" alt=""></a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__zoomInUp animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a  data-fancybox="gallery" class="fancybox" href="assets/pics/ht1.png"><img class="img-fluid" src="../../assets/pics/ht1.png" alt=""></a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- another row -->
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__fadeInUp scrollto animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a data-fancybox="gallery"  href="../../assets/img/gallery/gallery-3.jpg">
                            <img class="img-fluid" src="../../assets/img/gallery/gallery-3.jpg" alt="">
                        </a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__fadeInUp scrollto animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a data-fancybox="gallery"  class="fancybox" href="../../assets/img/gallery/gallery-5.jpg">
                            <img class="img-fluid" src="../../assets/img/gallery/gallery-5.jpg" alt="">
                        </a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc mt-2 animate__animated animate__fadeInUp scrollto animate__slower">
                <div class="project-wrapper">
                  <div class="project">
                    <div class="photo-wrapper">
                      <div class="photo">
                        <a  data-fancybox="gallery" class="fancybox" href="../../assets/img/gallery/gallery-6.jpg">
                            <img class="img-fluid" src="../../assets/img/gallery/gallery-6.jpg" alt="">
                        </a>
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
</div>