<div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="#fffcf0" fill-opacity="1" d="M0,160L26.7,154.7C53.3,149,107,139,160,165.3C213.3,192,267,256,320,288C373.3,320,427,320,480,304C533.3,288,587,256,640,213.3C693.3,171,747,117,800,106.7C853.3,96,907,128,960,165.3C1013.3,203,1067,245,1120,266.7C1173.3,288,1227,288,1280,282.7C1333.3,277,1387,267,1413,261.3L1440,256L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z">
		</path>
	</svg>
	<div class="container set-top">
	
		<div class="row">
			<div class="col-md-4 animate__animated animate__bounceInDown animate__slow">
				<div class="card border-0 shadow-sm">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col ml-2">
								<div class="text-xs  h6 text-uppercase mb-1" color="primary">NO.BookedRooms</div>
								<div class=" text-gray-800">
									<span id="tol-style">Total of BookedRooms:</span>
									<h3 style="font-size: 30px; color: #ffb30f;" class="mt-1">{{totalnumOfRoom}}</h3>
								</div>
							</div>
							<div class="col-auto">
								<!-- <i class="fa fa-check"></i> -->
								<i class="fa fa-check-circle-o text-icon" aria-hidden="true"></i>
							  <!-- <i class="fa fa-bed text-icon "></i> -->
							  <!-- <mat-icon arial-hidden="false" aria-label="Example home icon" class="text-icon">menu_book</mat-icon> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /div -->
			<div class="col-md-4 animate__animated animate__bounceInDown animate__slow">
				<div class="card border-0 shadow-sm">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col ml-2">
								<div class="text-xs  h6 text-uppercase mb-1" color="primary">NO.Rooms</div>
								<div class=" text-gray-800">
									<span id="tol-style">Total number of Rooms:</span>
									<h3 style="font-size: 30px; color: #ffb30f;" class="mt-1">54</h3>
								</div>
							</div>
							<div class="col-auto">
							  <i class="fa fa-bed text-icon "></i>
							  <!-- <mat-icon arial-hidden="false" aria-label="Example home icon" class="text-icon">menu_book</mat-icon> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate__animated animate__bounceInDown animate__slow">
				<div class="card border-0 shadow-sm">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col ml-2">
								<div class="text-xs  h6 text-uppercase mb-1" color="primary">NO.Staffs</div>
								<div class=" text-gray-800">
									<span id="tol-style">Total number of Staffs:</span>
									<h3 style="font-size: 30px; color: #ffb30f;" class="mt-1">34</h3>
								</div>
							</div>
							<div class="col-auto">
							  <i class="fa fa-users text-icon "></i>
							  <!-- <mat-icon arial-hidden="false" aria-label="Example home icon" class="text-icon">menu_book</mat-icon> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / -->
		</div>
		<div class="row mt-5">
			<div class="col-md-8 col-xl-8">
				<div class="myCanvas">
					<div class="card border-0">
						<div class="card-body">
							<canvas id="myChart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,32L21.8,26.7C43.6,21,87,11,131,21.3C174.5,32,218,64,262,101.3C305.5,139,349,181,393,186.7C436.4,192,480,160,524,165.3C567.3,171,611,213,655,213.3C698.2,213,742,171,785,133.3C829.1,96,873,64,916,74.7C960,85,1004,139,1047,176C1090.9,213,1135,235,1178,245.3C1221.8,256,1265,256,1309,250.7C1352.7,245,1396,235,1418,229.3L1440,224L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg> -->