.add{
    font-size: 20px !important;
    /* font-weight: 700 !important; */
    font-weight: 560;
    color: grey;
}
::ng-deep .card-add-room{
    /* box-shadow: none !important; */
    min-height: 60vh;
}
::ng-deep .mat-step-icon-selected{
	background-color: #ffb30b  !important;
}
.input-full-name {
    width: 100%;
  }
.input-email{
    width: 100%;
}
.input-adderess{
    width: 100%;
}
.input-disgn{
    width: 100%;

}
::ng-deep .mat-progress-bar{
   /* border:2px solid #ffb30b !important; */
   background: #ffb30b !important;
}

/* style 4 end here */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} 
.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
    cursor: pointer;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}