<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="text-center ml-3 logo">
        <h1 class="text-light"><a href="index.html">  <span>D<img src="../../assets/pics/lg.png" width="30px"  alt="">lux </span></a></h1>
      </div>
    </mat-toolbar>
    <div class="line col-md-8"></div>
    <mat-nav-list>
      <div class="text-center mt-4">
        <p class="centered"><a href="">
          <img src="../../assets/img/chefs/chefs-2.jpg" class="rounded-circle" width="60">
        </a></p>
        <div class="admin-name"><b>{{adminusername }}</b></div>
        <p>Manager</p>
      </div>
      <!-- the mat accordion -->
      <a class="text-center mt-5" mat-list-item href="" routerLink="/admin-panel/admin-darsh">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">dashboard</mat-icon> -->
        <i class="fa fa-dashboard"></i>
        &nbsp;&nbsp;
       <h3>Darshboard</h3> 
      </a>
      <mat-accordion>
        <mat-expansion-panel class="mat-expand-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons" id="key">vpn_key</i>
              &nbsp;&nbsp;
                Rooms
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item href="" routerLink='/admin-panel/add-room'>Add Rooms</a>
          <a mat-list-item href="" routerLink='/admin-panel/rooms-details'>View Rooms</a>
        </mat-expansion-panel>
        <!-- staff expandsion -->
        <mat-expansion-panel class="mat-expand-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="fa fa-users	"></i>
              &nbsp;&nbsp;
                Staff
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item href="" routerLink='/admin-panel/add-staff'>Add staff</a>
          <a mat-list-item href="" routerLink='/admin-panel/view-staffs'>View staffs</a>
        </mat-expansion-panel>
         <!-- staff expandsion end -->
        <mat-expansion-panel class="mat-expand-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="fa fa-users	"></i>
                &nbsp;&nbsp;
               Booking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item href="" routerLink='/admin-panel/booked-details'>Booled_list</a>
          <a mat-list-item href="#">Link 3</a>
          <a mat-list-item href="#">Link 3</a>         
        </mat-expansion-panel>

      </mat-accordion>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <div class="">
       <div class="dropdown open">
         <!-- <i class="fas fa-alarm-clock    "></i> -->
          <button class="fa fa-clock-o ml-3" id="triggerId" data-toggle="dropdown">
            <span class="badge mt-n4 badge-light">9</span>
          </button>
          <div class="dropdown-menu shadow-sm mt-4">
            <div class="icon-bar">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
            <div class="top-head"><p>You have a good message</p></div>
            <li class="li-style mt-2">
                <a href="index.html#" class="a">
                  <span class="photo">
                      <img alt="avatar" src="../../assets/img/chefs-bg.jpg">
                  </span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
            </li>
            <hr>
            <li class="li-style">
                <a href="index.html#" class="">
                  <span class="photo">
                      <img alt="avatar" src="../../assets/img/chefs-bg.jpg">
                  </span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
            </li>
            <hr>
            <li class="li-style">
                <a href="index.html#" class="">
                  <span class="photo">
                      <img alt="avatar" src="../../assets/img/chefs-bg.jpg">
                  </span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
            </li>
            <hr>
            <li class="li-style">
                <a href="index.html#" class="">
                  <span class="photo">
                      <img alt="avatar" src="../../assets/img/chefs-bg.jpg">
                  </span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
            </li>
        </div>
       </div>
     </div>
     <div class="clearfix">
      <div class="float-right">
         <button class="fa fa-envelope-open ml-3">
           <span class="badge mt-n4 badge-light">9</span>
         </button>
      </div>
    </div>
      <div class="ml-auto">
          <div class="img-user">
            <img src="../../assets/pics/img_avatar1.png" alt="" data-toggle="dropdown" class="rounded-circle dropdown-toggle">
            <div class="dropdown-menu">
              <a class="dropdown-item" href="darshboard.php">Home</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="logout.php">Log-Out</a>
            </div>
          </div>
      </div>
      <span></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
